# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

tokens
guilds
session-store.db

*.*swp

src/server/*.js.map
src/server/utils/*.js.map
src/server/listeners/*.js.map
src/server/commands/admin/*.js.map
src/server/commands/fun/*.js.map
src/server/commands/util/*.js.map
src/server/commands/util/images/*.js.map
src/server/commands/util/sounds/*.js.map

src/server/*.js
src/server/utils/*.js
src/server/listeners/*.js
src/server/commands/admin/*.js
src/server/commands/fun/*.js
src/server/commands/util/*.js
src/server/commands/util/images/*.js
src/server/commands/util/sounds/*.js
src/server/temp/
