.soundInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    margin-top: 5px;
    margin-bottom: 0;
}

.soundInputBox {
    flex-grow: 1;
    padding: 0!important;
}

.soundInputButton {
    height: 36px;
    margin-left: 10px;
}

.nowPlayingItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 4px;
}

.listItemIndicator {
    width: 40px;
}

.nowPlayingText {
    flex-grow: 1;
}

.nowPlayingButton {
    margin-left: 10px;
}